@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Phenomena';
		src: url('/fonts/Phenomena-ExtraBold.woff2') format('woff2'), url('/fonts/Phenomena-ExtraBold.woff') format('woff');
		font-weight: 900;
	}
	@font-face {
		font-family: 'Butler';
		src: url('/fonts/Butler-Bold.woff2') format('woff2'), url('/fonts/Butler-Bold.woff') format('woff');
	}
	@font-face {
		font-family: 'Butler Bolder';
		src: url('/fonts/Butler-ExtraBold.woff2') format('woff2'), url('/fonts/Butler-ExtraBold.woff') format('woff');
	}
}